// ========== Text styles ==========
h1,
h2,
h3,
h4 {
  font-family: $family-secondary;
}
// Bulma moves .subtitle closer to .title but its just a little too close
$subtitle-negative-margin: -0.75rem;

$link: $maroon;
$link-hover: $maroon;
a:hover {
  text-decoration: underline;
}
// ---- Menus ----
p.menu-label {
  color: $black;
  letter-spacing: 1.3;
  font-weight: 800;
}

// ========== Button styles ==========
// ---- Standard/tan button ----
$button-color: $off-white;
$button-background-color: $black;
$button-hover-color: $black;
$button-hover-border-color: $black;
.button:hover {
  background-color: $tan-light;
}
// ---- Maroon button ----
.button.is-maroon {
  background-color: $maroon;
  color: $off-white;
  border-color: $maroon;
}
.button.is-maroon:hover {
  background-color: $tan-light;
  color: $maroon;
  border: 1px solid $maroon;
}
// ---- black button ----
.button.is-tan {
  background-color: $tan;
  color: $black;
  border-color: $tan;
}
.button.is-tan:hover {
  background-color: $tan-light;
  color: $black;
  border: 1px solid $black;
}

.button.is-tan.is-inverted {
  background-color: $tan-light;
  color: $black;
  border: 1px solid $black;
}
.button.is-tan.is-inverted:hover {
  background-color: $tan;
}

// ---- Static button ----
$button-static-color: $black;
$button-static-background-color: $tan-light;
$button-static-border-color: $black-light;
// ---- Upload button ----
$file-cta-color: $black;
$file-cta-background-color: $tan-light;
.file-label:hover .file-cta {
  background-color: $tan !important;
}

// ========== Progress bar ==========
$progress-value-background-color: $tan;
$progress-border-radius: 4px;

// ========== Form inputs ==========
$label-color: $black;
$label-weight: 400;
// ---- Input bar ----
$input-background-color: $off-white;
$input-border-color: $black-light;
$input-focus-border-color: $black;
$input-hover-border-color: none;
$input-focus-box-shadow-color: none;
.input:focus {
  background-color: $white;
}
// ---- Validation ----
input.is-invalid {
  border-color: $orange !important;
  + .icon {
    color: $orange !important;
  }
}
input.is-valid:focus {
  border-color: $green;
  + span.icon {
    color: $green !important;
  }
}
.control.is-invalid,
button.is-invalid,
select.is-invalid {
  border-color: $orange !important;
}
svg.is-valid {
  color: $green;
}
svg.is-invalid {
  color: $orange;
}
p.help.invalid {
  color: $orange;
  font-weight: 600;
}

// ---- Select dropdown ----
$input-arrow: $black;
.select:hover:after {
  border-color: $maroon !important;
}

// ========== Table ==========
$table-color: $black;
$table-background-color: $off-white;
$table-cell-heading-color: $black;
$table-row-hover-background-color: $tan-light;

// ========== Modal ==========
$modal-card-head-background-color: $tan-light;
$modal-card-title-color: $black;
$modal-card-body-background-color: $off-white;

// ========== Tabs ==========
$tabs-border-bottom-color: $tan;
// $tabs-boxed-link-active-background-color: $off-white;
$tabs-boxed-link-active-background-color: $tan-light;
$tabs-boxed-link-active-border-color: $maroon;
$tabs-boxed-link-hover-border-bottom-color: $maroon;

// ========== Misc ==========
$hr-background-color: $border;

// ========= Spinner =========
// slap on a span for a quick spinner
.spinner {
  animation: spinAround 500ms infinite linear;
  border: 2px solid $black;
  border-radius: 50%;
  border-right-color: transparent;
  content: '';
  display: block;
  width: 1em;
  height: 1em;
  position: relative;
  position: absolute;
  left: calc(50% - (1em / 2));
  top: calc(50% - (1em / 2));
  position: absolute !important;
}
@keyframes spinAround {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
