// ========== Colors ==========

$black: #282828;
$black-light: #d0d0d0;

$maroon: #953332;
$maroon-light: #f0e6e6;
$maroon-transp: rgba(149, 51, 50, 0.4);

$tan: #dfd8c4;
// $tan-transp: rgba(223, 216, 196, 0.3);
$tan-light: #f2f0ea;

$off-white: #fafafa;
$white: #ffffff;

// ========== Accent colors ==========
$purple: #85456f;
$blue: #076678;
$green: #427b58;
$orange: #d65d0e;

$family-primary: 'Lato';
$family-secondary: 'Lora';
$text: $black;

$primary: $maroon;
$secondary: $black;

// $info: $blue;
// $success: $green;
// $warning: $yellow;
// $danger: $red;
$dark: $black;
// $text: $grey-dark;

// ========== Other global vars ==========

$border: $tan-light;
$background: $off-white;

@import './components.scss';

// ========== Load bulma last! ==========
@import 'bulma/bulma';
