$platinum: #eaeaea;
$oxford: rgb(0, 9, 35);
$silver: #7a7978;
$lime: #ceff1a;
$violet: #7a28cb;
$redOrange: #ff521b;

$black: #282828;
$blue: #413b89;
$maroon: #953332;
$tan: #dfd8c4;
$off-white: #fafafa;
$white: #ffffff;

$progress-value-background-color: $tan;
$progress-border-radius: 4px;

$input-focus-border-color: none;
$input-hover-border-color: none;
$input-focus-box-shadow-color: none;

// $family-primary: 'Fira Sans';
$family-primary: 'Lato';
// $family-secondary: 'Ubuntu';

$primary: $maroon;
$secondary: $blue;
$link: $maroon;
$info: $blue;
// $success: $green;
// $warning: $yellow;
// $danger: $red;
$dark: $black;
// $text: $grey-dark;

$background: $off-white;

@import 'bulma/bulma';
@import './components.scss';
